*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000000;}
.clearFix::after,
.clearFix::before
{content: ""; display: block; clear: both;}
@font-face {
    font-family: "EsaManru300";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "EsaManru500";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Medium.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "EsaManru700";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/esaManru/esaManru-Bold.ttf") format("truetype");
    font-display: swap;
} 

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@font-face {
    font-family: 'Pretendard100';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard200';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard300';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard400';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard500';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard600';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard700';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard800';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard900';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}





/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */



#header {
    width: 100%;
    height: 100px;
    position: fixed;
    overflow: hidden;
    z-index: 100;
    transition: all 0.5s;
    /* background-color: white; */
    box-shadow:0;
}
#header.on77{
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.05);
}

#header:hover .gnb>li>a{
    color:#222;
}
body,html{
    display: block;
    cursor:url(img/head_normal_block.png)-10 -20,auto;
}

#header .gnb>li a, #header .gnb>li .sub>li>a{
    display: block;
    cursor:url(img/yell_block.png)-10 -20,auto;
}


#header .gnb>li:nth-child(1):hover,
#header .gnb>li:nth-child(1):hover .sub1{
    background-color: #54AFFF;
}
#header .gnb>li:nth-child(2):hover,
#header .gnb>li:nth-child(2):hover .sub2{
    background-color: #F1383E;
}
#header .gnb>li:nth-child(3):hover,
#header .gnb>li:nth-child(3):hover .sub3{
    background-color: #FAC800;
}
#header .gnb>li:nth-child(4):hover,
#header .gnb>li:nth-child(4):hover .sub4{
    background-color: #95CA46;
}

#header .gnb li:nth-child(1):hover .sub1>li>a,
#header .gnb li:nth-child(2):hover .sub2>li>a,
#header .gnb li:nth-child(3):hover .sub3>li>a,
#header .gnb li:nth-child(4):hover .sub4>li>a{
    color:white;
}


#header .gnb>li:nth-child(1) .sub1>li:hover>a{
    color:#11548f;
    background-color: #a5ccee;
    font-weight: bold;
}
#header .gnb>li:nth-child(2) .sub2>li:hover>a{
    color:#971e22;
    background-color: #df7c7f;
    font-weight: bold;
}
#header .gnb>li:nth-child(3) .sub3>li:hover>a{
    color:#a0820b;
    background-color: #ecdfac;
    font-weight: bold;
}
#header .gnb>li:nth-child(4) .sub4>li:hover>a{
    color:#55791f;
    background-color: #cbe7a0;
    font-weight: bold;
}

#header .logo {
    text-indent: -329572959px;
    width: 219px;
    height: 80px;
    background-image: url(img/1704351927330.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 190px;
    cursor:url(img/yell_block.png)20 30,auto;
}
#header .logo a{
    display: block;
    width: 219px; height: 80px;
}

#header .gnb {
    width: 660px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 960px;
}

#header .gnb>li {
    float: left;
    width: 150px;
    height:100px;
    text-align: center;
    font-style: normal;
    line-height: 80px;
    position: relative;
    padding-top:23px;
}

#header .gnb>li>a {
    font-family: 'EsaManru300';
    font-size: 23px;
    font-weight: 300;
    color:white;

}

#header .gnb>li .sub {
    width: 150px;
    height:300px;
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
}
#header .gnb>li .sub>li{
    line-height: 43px;
}
#header .gnb>li .sub>li>a{
    color: #555;
    font-size: 1.2em;
    font-family: 'Pretendard300';
    letter-spacing: -0.04em;

}
#header .reservation {
    width: 130px;
    height: 70px;
    background-color: rgb(232, 27, 35);
    color: #fff;
    position: absolute;
    top: 0;
    right: 190px;
    border-radius: 0 0 10px 10px;
    text-align: center;

}

#header .reservation>a {
    display: block;
    width: 130px; height: 70px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-family: 'EsaManru300';
    font-weight: 300;
    font-size: 20px;
    text-shadow: 0 0 5px rgb(115, 5, 9);
    cursor:url(img/yell_block.png)-10 -20,auto;
}




/* ㅡㅡㅡㅡㅡㅡㅡ섹션ㅡㅡㅡㅡㅡㅡㅡ */
#section{
    width: 100%;
    padding-top:0px;
    position: relative;
    z-index: 0;
}

#section .top_tit{
    width:100%;
    height:500px;
    background-color: #3ac16f;
    position:relative;
    top:0;
    left:0;
    z-index: 0;
}

#section .top_tit .left_tit{
    position:absolute;
    top:145px;
    left:228px;
}

#section .top_tit .left_tit .follow{
    margin-bottom:27px;
}
#section .top_tit .left_tit .follow img{
    float:left;
    margin-right:5px;
    width: 20px; height: 20px;
}
#section .top_tit .left_tit .follow p{
    font-family: 'Pretendard500';
    float:left;
    font-size:16px;
    color:white;
}

#section .top_tit .left_tit>h1{
    font-family: 'EsaManru300';
    font-size:50px;
    color:white;
    text-align: left;
}

#section .top_tit .tit_img{
    width:600px;
    height:600px;
    background-position: center;
    background-image: url(img/c1.png);
    position:absolute;
    top:72px;
    right:203px;
    z-index: -1;
}

#section .c_head{
    padding-top: 90px;
    width: 100%; height: 130px;
    color: #333333;
    text-shadow:3px 3px 3px rgba(0,0,0,0.2);
    background-color: #fff;
    line-height: 100px;
    text-align: center;
    font-size: 52px;
    font-family: 'EsaManru300';
    position: absolute;
    z-index: 0;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ티켓ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

#section .con1,
#section .con2,
#section .con3{
    margin: 0 auto;
    width: 1528px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px #0000000c;
    border-radius: 10px;
    margin-top: 150px;
}
#section .con1{
    margin-top: 250px;
    height: 880px;
}
#section .con1 .title h5{
    width: 100px;
}
#section .con2{
    height: 1000px;
}
#section .con3{
    height: 1000px;
}
#section .con1 .ticket{
    background-image: url(img/a1.png);
}
#section .con2 .ticket{
    background-image: url(img/a2.gif);
}
#section .con3 .ticket{
    background-image: url(img/a3.gif);
}
#section .ticket{
    font-family: 'Pretendard700';
    width: 732px; height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}
#section .ticket .top{
    margin-top: 250px;
    margin-left: 190px;
    color: #fff;
}
#section .con2 .ticket .top{
    margin-top: 300px;
}
#section .con3 .ticket .top{
    margin-top: 365px;
}
#section .ticket .top h5{
    text-align: center;
    line-height: 34px;
    font-weight: 700;
    display: block;
    font-size: 19px;
    background-color: #cda73a;
    width: 105px; height: 34px;
}
#section .ticket .top p:nth-child(2){
    font-size: 43px;
}
#section .ticket .top p:nth-child(3){
    font-size: 19px;
}
#section .ticket .bottom{
    margin: 0 auto;
    width: 488px;
    margin-top: 70px;
    text-align: center;
}
#section .ticket .bottom>div>p:nth-child(1){
    font-family: 'Pretendard600';
    font-size: 17px;
    color: #b3b3b3;
    margin-top: 30px;
    margin-bottom: 10px;
}
#section .ticket .bottom .date>p:nth-child(2){
    font-family: 'Pretendard700';
    font-size:45px;
}
#section .ticket .bottom .time>p:nth-child(1){
    padding-top: 25px;
}
#section .ticket .bottom .time>p:nth-child(2){
    font-family: 'Pretendard700';
    font-size:45px;
}
#section .time span{
    font-size: 22px;
}

#section .time{
    width: 478px; height: 133px;
    background-color: #f0f0f0;
}
#section .con2 .time{
    margin-left: 5px;
    width: 485px;
    background-color: #f0f0f0;
}
#section .con3 .time{
    margin-left: 10px;
    width: 490px;
    background-color: #f0f0f0;
}
#section .duration>p:nth-child(2){
    font-size: 22px;
}

#section .text{
    position: relative;
    color: #333333;
    font-family: "EsaManru300";
}
#section .text::after{
    background-repeat: no-repeat;
    width: 124px;height: 200px;
    background-image: url(img/r1.png);
    position: absolute;
    top: 0; right: 30px;
}
#section .title{
    position: absolute;
    top: 0; left: 770px;
}
#section .title h5{
    font-size: 22px;
    width: 300px;
    font-family: "EsaManru300";
    color: #eb1d26;
    margin-top: 30px;
    margin-bottom: 15px;
}
#section .title h3{
    font-size: 50px;
    margin-top: 21px;
}
#section .title h4{
    font-size: 35px;
    margin-top: 37px;
    margin-bottom: 37px;
}
#section .title h4 span{
    font-size: 22px;
    color: #757575;
}
#section .title p{
    font-size: 23px;
}
#section .text .coment{
    position: absolute;
    margin-top: 350px;
    top: 0; left: 770px;
}
#section .text .coment>li{
    font-family: 'Pretendard500';
    font-size: 19px;
    margin-bottom: 58px;
    background-image: url(img/list.png);
    background-repeat: no-repeat;
    height: 36px;
    padding-left: 55px;
    line-height: 27px;
}

#section .btn{
    display: block;
    cursor:url(img/yell_block.png)-10 -20,auto;
    color: #ffffff;
    line-height: 73px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(img/rec.png);
    width: 213px; height: 73px;
    font-size: 23px;
    position: absolute;
    bottom: 45px; right: 100px;
    z-index: 10;
}








/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ푸터ㅡㅡㅡㅡㅡㅡㅡㅡ */





#footer{
    width: 100%;
    margin-top: 1800px;
    background-color: #262626;
    position:absolute;
    /* position: relative; */
    top:2400px;
    z-index: 99999;
}
#footer .linsafj{
    width: 100%;
    height: 300px;
    color: rgb(123,123,123);
    font-family: 'Pretendard300';
    border-bottom: 1px solid white;
}
#footer .linsafj .fotterTop{
    width: 80%;
    margin: 0px auto ;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
#footer .linsafj .fotterTop>li{
    font-size: 20px;
    font-family: 'Pretendard500';
    color: #bdbbbb;
}
#footer .linsafj .fotterTop>li>ul{
    margin-top: 20px;
}
#footer .linsafj .fotterTop>li>ul>li{
    font-size: 15px;
    color: rgb(123,123,123);
    line-height: 30px;
    cursor:url(img/yell_block.png)-10 -20,auto;
}
#footer .linsafj .fotterTop>li .sns>li{
    display: inline-block;
    margin-right: 5px;
}
#footer .linsafj .fotterTop>li>ul>li.expend {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(123, 123, 123);
    color: #bdbbbb;
    position: relative;
    z-index: 10;
}
#footer .linsafj .fotterTop>li>ul>li.expend>span {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
}
#footer .fotterTop>li>ul.country>li>ul.another {
    font-size: 15px;
    color: rgb(123, 123, 123);
    background-color: #bdbbbb;
    line-height: 40px;
    position:absolute;
    top:45px; left: 0;
    width: 250px;
    z-index: -10;
    display: none;
    border-radius: 0 0 10px 10px;
    height: 140px;
    overflow-y: hidden;
}
#footer .fotterTop>li>ul.country>li>ul.another::-webkit-scrollbar{
    width:10px;
}
#footer .fotterTop>li>ul.country>li>ul.another::-webkit-scrollbar-thumb{ /*막대*/
    background-color: rgb(123, 123, 123);
    border-radius: 50px;
}
#footer .fotterTop>li>ul.country>li>ul.another:hover{
    overflow-y: scroll;
    text-indent: 10px;
}
#footer .fotterTop>li>ul.country>li>ul.another>li:hover{
    background-color: #555;
}
#footer .fotterBtm{
    width: 1250px;
    margin: 30px auto 0;
    padding-bottom: 20px;
}
#footer .fotterBtm .fotterlogo{
    width: 250px;
    height: 80px;
    float: left;
    text-indent: -329857928357329px;
    background-image: url(img/footerlogo_03.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:8%;
}
#footer .fotterBtm p{
    font-family: 'Pretendard300';
    font-size: 13px;
    color: rgb(191,191,191);
    margin-top: 5px;
}
#footer .fotterBtm p.add{
margin-left: 30px;
}
#footer .fotterBtm p.num{
margin-left: 30px;
margin-bottom: 10px;
}
#footer .fotterBtm p.byebye{
font-size: 13px;
color: rgb(105,105,105);
}

.material-symbols-outlined{
    animation-duration: 1s;
    animation-name: footer ;
    animation-iteration-count: infinite;
}

@keyframes footer {
    0% {
    transform:scale(1.0);
    }
    50% {
    transform: scale(1.3);
    color: rgb(85, 85, 85);
    }
    100% {
    transform: scale(1.0);
    }
}

#section .title h5{
    animation-duration: 1.2s;
    animation-name: h5 ;
    animation-iteration-count: infinite;
}

@keyframes h5 {
    0% {
    transform:scale(1.0);
    }
    50% {
    transform: scale(1.03);
    }
    100% {
    transform: scale(1.0);
    }
}



@keyframes sparkle {
    from {
    background-position: 0% 100%;
    }
    to {
    background-position: 200% 100%;
    }
}
.test {
    float: left;
    width: 198px; height: 150px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 5;
    margin-left: 1213px;
    margin-top: -120px;
}
.test:before {
    animation: sparkle 4s infinite linear;
    background: linear-gradient(90deg, #7FEFBD 0%, #FFF689 11%, #EC0B43 22%, #7FEFBD 33%, #FFF689 44%, #EC0B43 55%, #7FEFBD 66%, #FFF689 77%, #EC0B43 88%, #7FEFBD 100%);
    background-size: 300% 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 110%;
    height: 50%;
    border-radius: 4px;
    filter: blur(3px);
    z-index: 3;
    transform: scale(0.99) translateY(3px);
    transition: all 0.8s;
}
.btn:hover +.test::before{
    background: #ce1e1e;
    filter: blur(7px);
}


#section .top_tit .tit_img{
    animation-duration: 3s;
    animation-name: object ;
    animation-iteration-count: infinite;

}

@keyframes object {
    0% {
    transform: rotate(0deg);
    }
    50% {
    transform: rotate(7deg);
    }
    100% {
    transform: rotate(0deg);
    }
}